@charset "UTF-8";
/* CSS Document */

#container{
	width:1050px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	overflow: hidden;
	background-color: #FFF;
	;
	;
	;
	;
	border: 7px solid #FFF;
	}
#masthead{
	}
#secmasthead{
	padding:20px 0 0 0;
	height:120px;
	}
#words{
	padding-right: 50px;
	padding-bottom: 15px;
	padding-left: 40px;
	}
#maincontent{
	width:1050px;
	overflow: hidden;
	background-image: url(images/sidebar_bg.jpg);
	background-repeat: repeat-y;
	}
#leftad{
	width:218px;
	height:120px;
	}
#leftnav{
	width:200px;
	}

#topright{
	margin:15px 15px 6px 15px;
	width:265px;
	height:133px;
	}

#midright{
	padding:6px 15px 6px 15px;
	width:265px;
	height:135px;
	}

#lowright{
	padding:6px 15px 6px 15px;
	width:265px;
	height:95px;
	}
#content{
	margin:0 293px 0 218px;
	height:440px;
	}
#footer1{
	width:1050px;
	height:65px;
	clear: both;
	background-color: #A9B3B5;
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #FFF;
	background-position: center;
	}
#footer2{
	width:880px;
	height:50px;
	}
.boxheader {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight:normal;
	height: 22px;
	vertical-align: middle;
	display: block;
	padding-top: 8px;
	background-color: #000;
}
.boxtext {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	padding-right: 15px;
	padding-left: 15px;
	height: 180px;
	display: block;
	padding-top: 10px;
}
.boxfootertext {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	font-weight:normal;
	height: 30px;
	padding-top: 5px;
	display: block;
}
.boxfootertext a {
	color: #FFF;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
}
.boxfootertext a:hover {
	color: #333;
	background-color: #B2D87D;
}

.bigwelcome{
	color:#76A54B;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	font-size: 30px;
	line-height:28px;
	padding-top: 40px;
	padding-left: 40px;
}
.bigtagline{
	color:#5C7CC7;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	font-size: 22px;
	font-style:italic;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 40px;
}
.bodycopy{
	color:#333;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 15px;
	line-height:30px;
}
.home_features_boxes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	background-image: url(images/home_feature_box.png);
	padding: 10px;
	height: 180px;
	width: 324px;
	background-repeat: no-repeat;
}
.home_top_nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	clear: none;
	float: left;
	padding-top: 8px;
	padding-right: 17px;
	padding-left: 17px;
	margin-bottom: 70px;
}
.home_top_nav a {
	color: #00445d;
	text-decoration: none;
}

.home_top_nav a:hover {
	color: #00addc;
	text-decoration: underline;
}

#footerBox .home_top_nav a:hover{
	color: #ffffff;
}

.home_mid_nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
}
.home_mid_nav a {
	color: #FFF;
	text-decoration: none;
}
.home_mid_nav a:hover {
	text-decoration: underline;
	color: #FFF;
}
.home_features_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 16px;
	color: #17A2D2;
	padding-top: 15px;
	padding-right: 13px;
	padding-bottom: 8px;
	padding-left: 13px;
	text-align: left;
}
.bodycopyHome {
	color:#666;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 13px;
	line-height:15px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
#home_mid_nav-box {
	background-image: url(images/top_piece__ait_menu.jpg);
	height: 50px;
	width: 1050px;
}
.home_features_body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 19px;
	padding-bottom: 15px;
	color: #333;
}
	
.frame-display-box {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #17A2D2;
	height: 140px;
	width: 200px;
	text-align: center;
	vertical-align: top;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
}
.img-box {
	margin-top: 10px;
}
.product-name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #17A2D2;
	text-align: left;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.product-name a {
	color: #17A2D2;
	text-decoration: none;	
	font-size: 11px;
}
.product-name a:hover {
	text-decoration: underline;	
	
}
.frame-specs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	color: #333;
	padding: 3px;
}
